*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient( 225deg, rgba(32, 5, 0, 0.651), rgb(4, 2, 37));
    background-color: #000;
}
.container{
    width: 83%;
    height:100vh ;
    display: flex;
    justify-content: center;
}
.contains{
    width: 100%;
    height:600px ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.mthYr{
    width: 100%;
    height: 50px;
    /* border: 1px solid aqua; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.mthYr button{
    width: 120px;
    height: 30px;
    background-color: rgba(22, 22, 22, 0.445);
    color: #fff;
    border: 1px solid rgb(48, 48, 48);
    border-radius: 5px;
    font-weight: 700;
}
#mon{
    background-color: #fff;
    color: #000;
    border: none; 
}
.content{
    width: 98%;
    height: 450px;
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items: center;
}
.con{
    width: 31%;
    height: 395px;
    border: 2px solid rgba(48, 48, 48, 0.541);
    border-radius: 10px 0 0 10px;
    border-right: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(49, 48, 48, 0.205);
}
#ent{
    border-radius: 0 10px 10px 0;
    border-left: none;
    border-right: 2px solid rgba(70, 69, 69, 0.651);
}
#growth{
    width:36% ;
    height:440.4px ;
    margin-top: -10px;
    border-radius: 10px;
    border-right: 2px solid rgba(48, 48, 48, 0.541);
    background-color:rgba(41, 40, 40, 0.781) ;
    
}
.con{
    background-color: rgba(78, 75, 75, 0.192) ;
}
.concon{
    width: 80%;
    /* border: 1px solid rgb(157, 157, 196); */
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.save{
    height:auto ;
    /* border:1px solid rgb(216, 203, 203); */
    width: 40%;
}
.save h3{
    font-size: 13px;
    border-radius: 3px;
    text-align: center;
    padding: 4px 0 4px 0;
    display:flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #000;
    background: linear-gradient(to right, rgb(199, 100, 150), rgba(219, 102, 219, 0.705));
}
.gro{
    height:70.2px ;
    /* border:1px solid rgb(216, 203, 203); */
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.gro h3{
   color: rgb(138, 108, 247);
   font-size: 23px;
   font-weight: 600;
   text-align: center;
}
#one{
    color:rgb(169, 108, 247) ;
}
#onee{
    color:rgb(169, 108, 247) ;
}
#two{
    color:rgb(189, 108, 247) ;
}
#twoo{
    color:rgb(189, 108, 247) ;
}
#three{
    color:rgb(199, 108, 247) ;
}
#threee{
    color:rgb(199, 108, 247) ;
}
#four{
    color: rgba(199, 108, 199, 0.877) ;
}
#fourr{
    color: rgba(199, 108, 199, 0.877) ;
}
#five{
    color: rgba(250, 188, 108, 0.603);
}
#fivee{
    color: rgba(250, 188, 108, 0.603);
}
.gro p{
    font-size: 12px;
    text-align: center;
    color: #ccc8c8;
    /* font-weight: 500; */
}
.pp{
    height:93.6 ;
}
.usr{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    /* text-align: center; */
    height: 60px;
    margin-left: 5px;
}
.usr p{
    color: white;
    width: 51.58px;
    font-size: 10px;
    text-align: start;
    font-weight: 500;
}
.vim{
    color: white;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}
.vimm{
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    color: gray;
}
.six{
    font-size: 18px;
    color: white;
    margin-top: 10px;
}
.sixx{
    position: relative;
    left: 10px;
    color: gray;
}
.dol{
    display: flex;
    flex-direction: row;
}
.eightt{
    font-size: 12px;
    color: #9e9a9a;
    text-align: center;
}
.users{
    width:70%;
    height: 62.4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.userss{
    width: 82%;
}
.users .btn2{
    width: 37px;
    height: 35px;
    background: none;
    color: #afabab;
    /* border: 1px solid rgb(48, 48, 48); */
    border-radius: 5px;
    /* font-weight: 500; */
    border: 1px solid #afabab ;
    border-radius: 5px;
    font-size: 22px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn1{
    background-color:rgba(56, 55, 55, 0.881);
    border: none;
    width: 37px;
    height: 35px;
    color: #afabab;
    border-radius: 5px;
    border-radius: 5px;
    font-size: 22px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnn1{
    background-color:rgba(56, 55, 55, 0.233);
 
}
.h4{
    color: white;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    font-weight: 500;
}
.users p{
    font-size: 13px;
    width: 85px;
    border-radius: 5px;
    color: #ccc8c8;
    border: 1px solid #aaa8a862;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
}
.get{
    height:50px ;
    /* border:1px solid rgb(216, 203, 203); */
    width: 90%;
}
.get .btngg{
    font-size: 14px;
    font-weight: 600;
    color: white;
    width: 100%;
    height: 40px;
    background: none;
    background:linear-gradient(to right, rgb(138, 90, 226), rgb(0, 204, 255)) ;
    border: none;
    border-radius: 5px;
}
#PT{
    color: white;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    word-spacing: 3px;
    
}
#btng{
    background: none;
    /* border:1px solid  blue; */
    border-left: 1px solid rgb(138, 90, 235) ;
    border-right: 1px solid rgb(0, 204, 255);
    border-top: 1px solid rgb(129, 72, 235);
    border-bottom: 1px solid rgb(0, 204, 255);
    font-size: 14px;
    font-weight: 600;
    color: white;
    width: 100%;
    height: 40px;
    background: none;
    /* background:linear-gradient(to right, rgb(129, 72, 235), rgb(0, 204, 255)) ; */
    /* border: none; */
    border-radius: 5px;
}
#growth .concon{
    height: 350px;
}
/* .starter .concon{
    height: 50vh;
} */
/* 
@media screen and (max-width:1100px) {
    .mthYr button{
        width: 110px;
        height: 30px;
        font-size: 12px;
    }
    .content{
        height: 65vh;
    }
    .con{
        height: 60vh;
    }
    #growth{
        height: 70vh;
        top: -28px;
    }
    .concon{
        height: 45vh;
    }
    #growth .concon{
        height: 55vh;
    }
} */
